.card {
  background-color: khaki;
  border-radius: 10px;
  border: rgb(60, 0, 128) 3px solid;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
}

.card__question {
  font-size: 1.4rem;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card__content {
  color: #db1cbb;
  font-size: 1.4rem;
  padding: 20px;
  margin: 3px;
}

.card__taglist {
  display: flex;
}

.card__tag {
  color: black;
  background-color: rgb(255, 210, 232);
  border-radius: 20px;
  margin: 20px;
  padding: 7px;
  border: 2px solid black;
}

.card__button--show-answer {
  color: black;
  background-color: lightpink;
  font-size: 1.4rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 150px;
  margin-bottom: 10px;
}

.card__bookmark {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 1px;
  top: -20px;
}
