.card {
  background-color: rgb(95, 122, 120);
  border-radius: 10px;
  box-shadow: 10px 10px;
  height: 300px;
  width: 90%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
  scroll-behavior: auto;
}

.card__question {
  font-size: 1.4rem;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card__content {
  color: #db1cbb;
  font-size: 1.6rem;
  text-shadow: 1px 2px black, 0 0 25px rgb(181, 181, 223),
    0 0 5px rgb(95, 95, 121);
  padding: 20px;
  margin: 3px;
}

.card__taglist {
  display: flex;
  list-style: none;
}

.card__tag {
  color: black;
  background-color: rgb(238, 238, 238);
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

.card__button--show-answer {
  color: black;
  background-color: rgb(150, 170, 179);
  font-size: 1.4rem;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 150px;
  margin-bottom: 10px;
  padding: 5px;
}

.card__bookmark {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 1px;
  top: -20px;
  cursor: pointer;
}
