.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-picture {
  border-radius: 10px;
  margin: 30px;
}

.profile-name {
  margin: 10 px;
}
