@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  background-color: rgb(124, 158, 158);
}

body {
  margin-top: 5px;
  position: relative;
}

h1 {
  font-size: 1.8rem;
  width: 92%;
  height: 48px;
  background-color: rgb(150, 170, 179);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-bottom: 1px;
}

main {
  overflow-y: auto;
}
