@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  padding: 0;
  margin: 0;
}

html {
  background-color: rgb(124, 158, 158);
}

h1 {
  font-size: 1.8rem;
  width: 90%;
  height: 48px;
  background-color: rgb(150, 170, 179);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 30px auto 1px;
}

main {
  overflow-y: auto;
}

.container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
